<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>overlay</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Overlay</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>enterprise</string>
		<key>Title</key>
		<string>Enterprise</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>true</string>
		<key>Key</key>
		<string>debug</string>
		<key>Title</key>
		<string>Debug</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>hosts</string>
		<key>Title</key>
		<string>Hosts</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
